@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@ViewBag.Greeting World!(from the view)</h2>
    <div class="btn btn-success">
        @Html.ActionLink("PRSV Now", "RsvpForm")
    </div>
</div>
